<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DotaYi_IAP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07AC68D71CC0A2810030B298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07AC68F01CC0A2820030B298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07AC68FB1CC0A2820030B298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
